# gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore raw landscape data
data/landscape/sites_lc_changes_fin*

# ignore raster buffer data
data/landscape/buffer_rasters/*

# ignore temperature raster data per year
data/climate/chelsa_annual_crop/*

# ignore EMEP data folder
data/EMEP_data

# ignore all model csv summaries
data/output_brms_models/all_results_table.csv